* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #29495e;
    background-image: url('../images/winter_snowy.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(10,10,10,.9), transparent);
}

.title {
    font-weight: bold;
    font-size: 48px;
    margin: 20px 0;
    margin-bottom: 0;
}

.search {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.search label {
    margin-right: 20px;
}

#search {
    padding: 10px 20px;
    width: 300px;
    border: none;
    border-radius: 20px;
    position: relative
}

#search:focus {
    outline: none;
}

.container {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.results-container {
    width: 90%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: rgba(252, 252, 252, 0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: transform .2s ease;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
}

.box img {
    width: 100px;
    height: 100px;
    border: solid 1px #fff;
    border-radius: 50%;
}

.singer {
    margin: 10px 0;
}

.singer {
    letter-spacing: 2px;
    font-size: .8rem;
    color: #ddd;
}

.singer, .song {
    /* text-shadow: 1px 1px 1px #000; */
}

.song { 
    margin-top: -5px;
    margin-bottom: 10px;
}

audio:focus {
    outline: none;
}

.animate {
    animation: animate linear 10s infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1150px) {
    .container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
    }

    .search {
        display: flex;
        flex-direction: column;
    }

    .search label {
        margin-bottom: 20px;
    }
}

/* *************  Player  **************/
.player {
    max-width: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(255, 255, 255, .4);
    box-shadow: 13px 18px 13px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 200px;
    left: calc(50% - (350px / 2));
    display: none;
}

.section {
    width: 100%;
    padding: 2em;
}

.song_info {
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background: rgba(170, 170, 170, 0.2);
}

#song_progress::-webkit-slider-thumb {
    background: #fff;
    box-shadow: inset 0 0 3px 1.5px #000, 0 0 4px 3px cornflowerblue;
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.disc {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: solid 15px rgba(255, 255, 255, 0.8);
}

.disc::after {
    top: 0;
    left: 0;
    content: "";
    background: #000;
    position: absolute;
    width: calc(150px / 2);
    height: calc(150px / 2);
    border: solid 1px red;
}

.controls {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    background: rgba(170, 170, 170, 0.2);
}


@keyframes animate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* //////////////////////// Media Query ///////////////////// */

@media (max-width: 900px) {
    body {
        background-size: 100%;
    }
}